@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


*{

margin:0;
padding:0;
box-sizing:border-box;

}


body{

font-family:'Poppins',sans-serif;
background:#09090b;
color:white;

}



.hero{

min-height:100vh;

background:
linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.8)),
url("images/finance-bg.jpg");

background-size:cover;
background-position:center;

padding-bottom:50px;

}



.navbar{

width:90%;
margin:auto;

padding:25px 0;

display:flex;

justify-content:space-between;

align-items:center;

}



.logo{

font-size:30px;

font-weight:700;

display:flex;

gap:10px;

align-items:center;

}



.logo i{

color:#a855f7;

}



.profile-btn{

width:45px;

height:45px;

border-radius:50%;

background:#9333ea;

display:flex;

justify-content:center;

align-items:center;

text-decoration:none;

transition:.3s;

}



.profile-btn i{

color:white;

font-size:22px;

}



.profile-btn:hover{

background:#7e22ce;

transform:scale(1.1);

}





.container{

width:90%;

margin:auto;

text-align:center;

}



.container h1{

font-size:50px;

margin-top:40px;

}



.container p{

color:#ddd;

max-width:600px;

margin:15px auto;

}




.cards{

display:flex;

flex-wrap:wrap;

justify-content:center;

gap:20px;

margin-top:40px;

}



.card{

width:250px;

background:#1e1e2f;

padding:25px;

border-radius:15px;

box-shadow:0 5px 15px rgba(0,0,0,.4);

transition:.3s;

}



.card:hover{

transform:translateY(-8px);

}



.card i{

font-size:35px;

}



.card h2{

font-size:30px;

}



.income{

border-top:4px solid #22c55e;

}

.income i,
.income h2{

color:#22c55e;

}



.expense{

border-top:4px solid #ef4444;

}

.expense i,
.expense h2{

color:#ef4444;

}



.debt{

border-top:4px solid #f97316;

}

.debt i,
.debt h2{

color:#f97316;

}



.balance{

border-top:4px solid #3b82f6;

}

.balance i,
.balance h2{

color:#3b82f6;

}




.actions{

margin-top:50px;

}



.actions h2{

margin-bottom:20px;

}



.action-buttons{

display:flex;

justify-content:center;

gap: 15px;

flex-wrap:wrap;

}



button{

padding:15px 30px;

border:none;

border-radius:30px;

background:#9333ea;

color:white;

font-size:16px;

cursor:pointer;

}



button:hover{

background:#7e22ce;

}





@media(max-width:768px){


.container h1{

font-size:35px;

}


.card{

width:100%;

}


button{

width:100%;

max-width:300px;

}


}