*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#09090b;
    color:#fff;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.profile-container{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.profile-card{

    width:420px;
    background:#181818;

    padding:40px;

    border-radius:20px;

    box-shadow:0 0 30px rgba(138,61,255,.25);

}

.profile-card h2{
    text-align:center;
    margin-bottom:25px;
}

/* Back Arrow */
.back-arrow {
    position: absolute;
    top: 20px;
    left: 25px;
    font-size: 28px;
    color: #523eaa;
    text-decoration: none;
    transition: 0.3s;
}

.back-arrow:hover {
    color: #667eea;
}

.profile-container h1{
    position:absolute;
    top:50px;
    font-size:42px;
    color:#a855f7;
}

.input-box{
    margin-bottom:22px;
}

.input-box label{
    display:block;
    margin-bottom:8px;
    color:#ccc;
}

.input-box input{

    width:100%;

    padding:15px;

    border:none;

    outline:none;

    border-radius:12px;

    background:#252525;

    color:white;

    font-size:16px;

}

.input-box input:disabled{
    opacity:.7;
}

.buttons{

    display:flex;

    justify-content:space-between;

    gap:15px;

    margin-top:30px;

}

button{

    flex:1;

    padding:15px;

    border:none;

    border-radius:50px;

    background:#8b3dff;

    color:white;

    font-size:16px;

    cursor:pointer;

    transition:.3s;

    box-shadow:0 0 20px rgba(138,61,255,.35);

}

button:hover{

    background:#b36dff;

    transform:translateY(-3px);

}

.edit-btn{
    background:#444;
}

.edit-btn:hover{
    background:#666;
}

.logout-btn{
    background:#d63031;
}

.logout-btn:hover{
    background:#ff4d4d;
}

@media(max-width:500px){

.profile-card{
    width:90%;
    padding:30px;
}

.profile-container h1{
    font-size:34px;
}

.buttons{
    flex-direction:column;
}

}
